.skills__carousel {
  width: 100vw;
  // position: absolute;
  // bottom: 8%;
  // left: 0;
  height: 20%;
  position: relative;
  // background: grey;
  z-index: 3;
}

@keyframes startMove {
  0% {
    left: 112%;
    opacity: 0
  }
  80% {
    opacity: 0;
  }
  99% {
    opacity: 1
  }
  100% {
    left: 88%;
    opacity: 1;
  }
}

@keyframes endMove {
  0% {
    left: 88%;
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -12%;
  }
}