.sliding__container {
  width: 10%;
  position: absolute;
  top: 0;
  left: 112%;
  // opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    width: 100%;
  }
}