@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-default($color) {
  font-size: 2rem;
  font-weight: 300;
  padding: 10px 20px;
  border: 1px solid $color;
  background: none;
  cursor: pointer;
  margin: 0 2%;
  color: $color;
  @include flex-center;
  &:focus {
    outline: none;
  }
}